# Entorno virtual
venv/
.venv/
env/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Vector Store local
faiss_index/

# Archivos del sistema
.DS_Store
Thumbs.db

# Documentos de prueba (opcional)
data/*.pdf
temp/